{% extends 'Main.html' %}
{% block contends %}

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">USER</h1>
    <p class="mb-4">
        <a href="{% url 'index' %}">Home</a>
        <strong>/</strong>
        <a href="{% url 'user' %}">User</a>
        <strong>+</strong>
        <a href="">Add User</a>
    </p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">User</h6>
            <div class="col-sm-3" style="margin-left: 70%;">
                <a href="{% url 'addUser' %}" class="btn btn-primary btn-block" style="width: 100%;">
                    Add User
                </a>
            </div>
        </div>
        {% include 'messages.html' %}

        <div class="card-body">
            <form class="user" action="{% url 'userFilter' %}" method="post">{% csrf_token %}
                <div class="form-group row">
                    <div class="col-sm-3 mb-3 mb-sm-0">
                        <input type="text" class="form-control form-control" id="name" name="filterByName"
                            placeholder="Name">
                    </div>
                    <div class="col-sm-3">
                        <select name="FilterByRole" id="role" class="form-control">
                            <option value="">Role</option>
                            {% for roles in role %}
                            <option value="{{roles.id}}"> {{ roles.roleName }} </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <select name="FilterByDep" id="department" class="form-control">
                            <option value="">Department</option>
                            {% for departments in dep %}
                            <option value="{{departments}}"> {{ departments }} </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <select name="FilterByStatus" id="department" class="form-control">
                            <option value="">Status</option>
                            <option value="active"> Active </option>
                            <option value="inactive"> Inactive </option>

                        </select>
                    </div>

                </div>

                <div class="form-group row">
                    <div class="col-sm-3">
                        <button type="submit" id="form-submit" class="btn btn-primary"
                            style="width: 100%;">Filter</button>
                    </div>
                    <div class="col-sm-3"></div>
                    <div class="col-sm-3"></div>
                    <div class="col-sm-3">
                        <button type="reset" id="clr" class="btn btn-primary" style="width: 100%;">Clear</button>
                    </div>
                </div>
            </form>
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                    <thead>
                        <tr>
                            <th>SI NO</th>
                            <th>NAME</th>
                            <th>PHONE</th>
                            <th>ROLE</th>
                            <th>DEPARTMENT</th>
                            <th>STATUS</th>
                            <th>ACTION</th>
                        </tr>
                    </thead>
                    {% for j in user1 %}
                    <tbody>
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{j.name}}</td>
                            <td>{{j.phone}}</td>
                            <td>{{j.userRole}}</td>
                            <td>{{j.userDepartMent}}</td>
                            <td>{{j.status}}</td>
                            <td>
                                <a href="{% url 'viewUser' j.id %}" onclick="" title="View">
                                    <i class="fas fa-eye"></i>
                                </a>
                                <a href="{% url 'EditUser' j.id %}" onclick="" title="View">
                                    <i class="fas fa-edit"></i>
                                </a>

                                {% if j.status != 'active' %}
                                <a href="{% url 'statuser' j.id %}" onclick="" id="act" class="">
                                    <i class="fas fa-check"></i>
                                </a>
                                {% else %}
                                <a href="{% url 'statuser' j.id %}" onclick="" class="" id="inact">
                                    <i class="fas fa-times"></i>
                                </a>
                                {% endif %}
               
                            </td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

    </div>



{% endblock contends %}