{% extends 'Main.html' %}
{% block content %}

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">ROLE</h1>
    <p class="mb-4">
        <a href="{% url 'index' %}">Home</a>
        <strong>/</strong>
        <a href="{% url 'role' %}">Role</a>
        <strong>+</strong>
        <a href="{% url 'addRole' %}">Add Role</a>
    </p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Role</h6>           
                <div class="col-sm-3" style="margin-left: 70%;">
                    <a href="{% url 'addRole' %}" class="btn btn-primary btn-block" style="width: 100%;">
                        Add Role
                    </a>
                </div>           
        </div>
        {% include 'messages.html' %}

        <div class="card-body">
            <!-- filter -->
            
             

          
            

            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                    <thead>
                        <tr>
                            <th>SI NO</th>
                            <th>ROLE</th>
                            <th>STATUS</th>
                            <th>ACTION</th>
                        </tr>
                    </thead>
                    <!-- <tfoot>
                        <tr>
                            <th>SI NO</th>
                            <th>HOLIDAY NAME</th>
                            <th>HOLIDAY DATE</th>
                            <th>STATUS</th>
                            <th>ACTION</th>
                        </tr>
                    </tfoot> -->
                    {% for i in role %}
                    <tbody>
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ i.roleName }}</td>
                            <td>{{ i.roleStatus }}</td>
                            <td>
                                
                                <a href="{% url 'permisson' i.id %}"  id="act" class="btn btn-primary">
                                    Set Permission
                                </a>
                                <a href="{% url 'editRole' i.id %}" id="act" class="">
                                    <i class="fas fa-edit"></i>
                                </a>
                                {% if i.roleStatus != 'active' %}
                                <a href="{% url 'actInact' i.id %}" id="act" class="">
                                    <i class="fas fa-check"></i>
                                </a>
                                {% else %}
                                <a href="{% url 'actInact' i.id %}" class="" id="inact">
                                    <i class="fas fa-times"></i>
                                </a>
                               {% endif %}
                            </td>
                        </tr>
                    </tbody>
                   {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->




{% endblock content %}