{% extends 'Main.html' %}
{% load static %}
{% block content %}

<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800 text-uppercase">{{journal.Journal_name}}</h1>
    <p class="mb-4">
        <a href="{% url 'index' %}">Home</a>
        <strong>/</strong>
        <a href="{% url 'journals' %}">Journals</a>
        <strong>/</strong>
        <!-- <a target="_blank" href="{% url 'add_department' %}">Add Department</a> -->
        <strong>View</strong>
        <a href="{% url 'journals' %}"><i class="fas fa-angle-double-left"></i>Back</a>
    </p>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">JOURNAL DETAILS</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-xl-6 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1 ">
                                        Journal_name
                                        <i class="fas fa-user"></i>
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800 text-uppercase">
                                        {{journal.Journal_name}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6 mb-4">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        Edition
                                        <i class="fas fa-hourglass-end"></i>
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800 text-uppercase">
                                        {{journal.Edition}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6 mb-4">
                    <div class="card border-left-info shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        Journal department
                                        <i class="fas fa-clipboard-check"></i>
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800 text-uppercase">
                                        {% for department in journal.Journal_department.all %}
                                        <li>{{department}}</li>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        Published Date
                                        <i class="fas fa-clipboard-check"></i>
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800 text-uppercase">
                                        {{journal.Published_Date}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6 mb-4">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        Publisher name
                                        <i class="fas fa-clipboard-check"></i>
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800 text-uppercase">
                                        {{journal.Publisher_name}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6 mb-4">
                    <div class="card border-left-info shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        Journal_Type
                                        <i class="fas fa-clipboard-check"></i>
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800 text-uppercase">
                                        {{journal.Journal_Type}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        Short Summary
                                        <i class="fas fa-clipboard-check"></i>
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800 text-uppercase">
                                        {{journal.Short_Summary}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6 mb-4">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        status
                                        <i class="fas fa-clipboard-check"></i>
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800 text-uppercase">
                                        {{journal.status}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



{% endblock content %}